@model IQueryable<Appointment>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Услуга
            </th>
            <th>
                Дата
            </th>
            <th>
                Время
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Client.Name.ToString();
            </td>
            <td>
                @item.Client.PhoneNumper.ToString();
            </td>
            <td>
                @item.ServiceItem.Title.ToString();
            </td>
            <td>
                @item.time.Date.ToString();
            </td>
            <td>
                @item.time.Time.ToString();
            </td>
        </tr>
            }
    </tbody>
    </table>